/* Reset */
html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

/* Colors */
body {
	padding: 40px 0;
	color: #eee;
	background-color: #1e1e1e;
	max-width: 70%;
	margin: 0 auto;
	font-family: sans-serif;
	font-size: 1.1em;
}

.required {
	color: grey;
}

/* Input */
textarea {
	display: block;
	width: 100%;
	margin: 25px auto 20px auto;
	font-family: monospace;
	height: 120px;
}

.bingo-text {
	height: 300px;
}

ul {
	padding-left: 0;
}

li {
	list-style: none;
	line-height: 1.4;
}

input[type="checkbox"] {
	margin-right: 10px;
}

button {
	padding: 8px;
}
