/* Reset */
html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}


/* Colors */
body {
	padding: 20px 40px 40px 40px;
	color: #eee;
	background-color: #1e1e1e;
	max-width: 1000px;
	margin: 0 auto;
	font-family: sans-serif;
	font-size: 1.1em;
}

/* Elements */
a:visited {
	color: #eee;
}

.challenge-list {
	margin: 25px 0 20px 0;
}

.required {
	color: grey;
	font-size: 0.8em;
	margin-left: 10px;
}

.copy-status {
	margin-left: 10px;
	animation-name: fadeOut;
	animation-duration: 3.5s;
	animation-timing-function: linear;
	animation-iteration-count: infinite; /* We catch it with an event instead */
	animation-play-state: paused;
	visibility: hidden;
	opacity: 0;
}
@keyframes fadeOut {
	0% {
		visibility: hidden;
		opacity: 0;
	}
	15% {
		visibility: visible;
		opacity: 1;
	}
	70% {
		visibility: visible;
		opacity: 1;
	}
	100% {
		visibility: hidden;
		opacity: 0;
	}
}

.closing-line {
	font-size: 1.3em;
	margin-top: 35px;
}

/* Input */
textarea {
	display: block;
	width: 100%;
	height: 120px;
	min-width: 400px;
	min-height: 100px;
	max-width: 100%;
	max-height: 600px;
	margin: 25px auto 10px auto;
	padding: 10px;
	font-family: monospace;
	background-color: #111;
	color: #eee;
}

.bingo-text {
	height: 300px;
}

ul#challenge-list {
	padding-left: 0;
}
#challenge-list li {
	list-style: none;
}

input[type="checkbox"] {
	margin-right: 10px;
}

button {
	margin-top: 10px;
	padding: 8px;
}
.step3-btn {
	display: block;
	margin-top: 28px;
}

.copy-btn {
	all: unset;
	cursor: pointer;
}
.copy-btn:hover,
.copy-btn:focus {
	color: #c3c3c3;
}

ul {
	line-height: 1.4;
}

@media (min-width: 800px) {
	ul {
		columns: 2;
		column-gap: 24px;
	}
}
