/* Reset */
*, *::before, *::after {
	box-sizing: border-box;
	margin: 0;
}

input, button, textarea, select {
	font: inherit;
}

/* Colors */
@media (prefers-color-scheme: light) {
	:root {
		--foreground-color: #1e1e1e;
		--background-color: white;
		--background-shaded: #f7f7f7;
		--background-section: #fdfdfd;
		--border-color: #ddd;
		--tone1: #BBDEFB;
		--tone2: #f2cdff;
		--tone3: #fff5b2;
		--tone4: #c4ffb2;
		--link-default: #3535ff;
		--link-hover: #8888ff;
		--link-active: #9e9eff;
		--dropshadow: rgba(50, 50, 50, 0.5);
		--bingo-win: #fff5b2;
	}
}
@media (prefers-color-scheme: dark) {
	:root {
		--foreground-color: #f5f5f5;
		--background-color: #1e1e1e;
		--background-shaded: #131212;
		--background-section: #1e1d1d;
		--border-color: #3b3737;
		--tone1: #074070;
		--tone2: #5c007c;
		--tone3: #756600;
		--tone4: #1b7500;
		--link-default: #9e9eff;
		--link-hover: #8888ff;
		--link-active: #7777ff;
		--dropshadow: rgba(130, 130, 130, 0.5);
		--bingo-win: #7f7113;
	}
}

/* Main body */
body {
	max-width: 1000px;
	margin: 0 auto;
	padding: clamp(3px, 2vw, 40px);
	background-color: var(--background-color);
	color: var(--foreground-color);
	font-family: sans-serif;
	line-height: 1.5;
}

/* Modal <dialog> */
body:has(dialog[open]) {
	overflow: hidden; /* Prevent scrolling with active modal */
}
dialog {
	margin: auto; /* Re-center as reset clears this */
}
@media(min-width: 1000px) {
	html {
		scrollbar-gutter: stable;
	}
}

/* Text spacing */
p, h1, h2, h3, h4, h5, h6 {
	margin-bottom: min(0.8em, 20px);
}
:where(p, h1, h2, h3, h4, h5, h6):not(:first-child) {
	margin-top: min(0.8em, 20px);
}

/* Links */
a:any-link {
	color: var(--link-default);
}
a:focus,
a:hover {
	color: var(--link-hover);
}
a:active {
	color: var(--link-active);
}

/* Fake buttons */
a.button {
	text-decoration: none;
}

/* Controls */
input,
button,
a.button,
textarea,
select,
input[type="file"]::file-selector-button {
	background-color: var(--background-shaded);
	border: 1px solid var(--border-color);
	color: var(--foreground-color);
	transition: all 0.2s ease;
}

button,
a.button,
input[type="submit"],
input[type="button"] {
	padding: 8px;

	&:not(:disabled):hover {
		cursor: pointer;
		background-color: color-mix(in srgb, var(--background-shaded) 88%, var(--foreground-color));
	}

	&:focus {
		outline: 2px solid var(--foreground-color);
		background-color: color-mix(in srgb, var(--background-shaded) 95%, var(--foreground-color));
	}

	&:not(:disabled):active {
		background-color: color-mix(in srgb, var(--background-shaded) 80%, var(--foreground-color));
	}

	&:disabled {
		opacity: 65%;
	}
}

input[type="checkbox"] {
	margin-right: 7px;
}

/* Common classes */
.nav-bar {
	display: flex;
	align-items: start;
	justify-content: end;
	gap: 10px;

	h1 {
		font-size: 2em;
		margin-right: auto;
		margin-bottom: 0;
	}
}
